<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      html{
      background: #EEE;
      color: #333;
      }
      body{
          margin: 0 auto 0 auto;
          max-width: 600px;
      }
      .entry-title{
          margin-bottom: 0;
      }
      .entry-date{
          margin-top: 0;
      }
      #toc li a{
          color: rgb(28, 65, 187);
          text-decoration: none;
      }
    </style> 
    <title>{{ .Title }}</title>
  </head>  
  <body>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </body>
</html>