<style>
html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: auto !important;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.8);
    /* background: rgb(245, 236, 231); */
    background: white;
    font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    line-height: 1.4rem;
}

/* Places where eyeballs go should be comfortable and serifed. */

body{
    margin: 0 auto 0 auto;
    max-width: 600px;
}

.entry-title{
    margin-bottom: 0;
}

.entry-date{
    margin-top: 0;
}

a{
    color: rgb(28, 65, 187);
    text-decoration: none;
}

pre{
    overflow-x: auto;
}

</style> 
