<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      html{
      background: #EEE;
      color: #333;
      }
      body{
          margin: 0 auto 0 auto;
          max-width: 600px;
      }
      .entry-title{
          margin-bottom: 0;
      }
      .entry-date{
          margin-top: 0;
      }
      #toc li a{
          color: rgb(28, 65, 187);
          text-decoration: none;
      }
      pre{
        overflow-x: auto;
      }
    </style> 
    <title>{{ .Title }}</title>
  </head>  
  <body>
    <h1>{{ .Title }}</h1>

    <ol id="toc" reversed>
    {{ range .Pages }}
        <li><a href="#{{ urlize (.Date.Format "2006-01-02") }}-{{ urlize .Title }}">{{ .Date.Format "2006-01-02" }} - {{ .Title }}</a></li>
    {{ end }}
    </ol>

    {{ range .Pages }}
        <br />
        <h3 id="{{ urlize (.Date.Format "2006-01-02") }}-{{ urlize .Title }}" class="entry-title">{{ .Title }}</h3>
        {{ if .Date }}
        <small class="entry-date">{{ .Date.Format "2006-01-02" }}</small>
        {{ else }}
        <small class="entry-date">No date</small>
        {{ end }}
        {{ .Content }}
    {{ end }}

    <br />
          

  </body>
</html>
